body{
  padding-top:80px;
  word-wrap:break-word;
  background: url("img/hair.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  background-position: center;
  font-family: 'Lato', sans-serif;
  color: white;
}
img{
  height: 200px;
  
} 

h1 {
  color:white; 
} 

h3 {
  color:yellow; 
  text-decoration: underline; 
  text-decoration-color: white; 
}

.well {
  color:black; 
}


